= simple_form_for(@job) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :vacancies
    = f.input :wage_per_hour
    = f.input :description
    = f.input :time_from
    = f.input :time_to
    = f.association :company
    = f.input :publish

  .form-actions
    = f.button :submit
