%h1 Listing jobs

%table
  %tr
    %th Title
    %th Vacancies
    %th Wage per hour
    %th Description
    %th Time from
    %th Time to
    %th Company
    %th Publish
    %th
    %th
    %th

  - @jobs.each do |job|
    %tr
      %td= job.title
      %td= job.vacancies
      %td= job.wage_per_hour
      %td= job.description
      %td= job.time_from
      %td= job.time_to
      %td= job.company
      %td= job.publish
      %td= link_to 'Show', job
      %td= link_to 'Edit', edit_job_path(job)
      %td= link_to 'Destroy', job, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Job', new_job_path
