!!!
%html
  %head
    = analytics_init if Rails.env.production?
    = metamagic
   
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title)+ '|Free Online Movies': 'Free Online Movies'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Watch Free Online Movies'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
      = render_breadcrumbs
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
:javascript
  $(document).ready(function(){
        $(".new_user").validationEngine();
    });
